// @include clearfix
@mixin clearfix {
  &:before,
  &:after {
    content: "";
    display: table;
  }

  &:after {
    clear: both;
  }
}

// @include hide-text()
@mixin hide-text() {
  text-shadow: none;
  text-indent: 1000%;
  white-space: nowrap;
  overflow: hidden;
}


